{{ define "main" }}
    <div class="posts-listing">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}{{ range $paginator.Pages }}
        <div class="post-container">
            <div class="post-title">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </div>
            <time datetime="{{ dateFormat "2006-01-02" .Date.UTC }}">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</time>
            {{ if .Params.tags }}
                <span class="post-tags">
                    {{ range .Params.tags }}
                    #<a href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}">{{ . }}</a>&npsp;
                    {{ end }}
                </span>
            {{ end }}
            <div class="summary">
                <div>
                {{ .Summary }}
                </div>
                <a href="{{ .URL }}" class="continue-reading">Continue Reading</a>
            </div>
        </div>
        {{ end }}
    </div>
    {{ partial "pagination.html" . }}
    {{ partial "footer.html" . }}
{{ end }}
